<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="school.mapper.BuildingMapper">
  <select id="selectById" resultType="school.entity.Building">
    select * from school.building where id = #{id}
  </select>

  <select id="selectAll" resultType="school.entity.Building">
    select * from school.building;
  </select>

  <insert id="insert">
    insert into school.building values (#{id}, #{name}, #{mId})
  </insert>

  <delete id="deleteById">
    delete from school.building where id = #{id}
  </delete>

  <update id="update">
    update school.building set name=#{name},mId=#{mId}
    where id=#{id}
  </update>
</mapper>