<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="school.mapper.DeptMapper">
  <select id="selectById" resultType="school.entity.Dept">
    select * from school.dept where id = #{id}
  </select>

  <select id="selectAll" resultType="school.entity.Dept">
    select * from school.dept;
  </select>

  <insert id="insert">
    insert into school.dept values (#{id}, #{name}, #{mId})
  </insert>

  <delete id="deleteById">
    delete from school.dept where id = #{id}
  </delete>

  <update id="update">
    update school.dept set name=#{name}
    where id=#{id}
  </update>
</mapper>