<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="school.mapper.TeacherMapper">
  <select id="selectById" resultType="school.entity.Teacher">
    select * from school.teacher where id = #{id}
  </select>

  <select id="selectAll" resultType="school.entity.Teacher">
    select * from school.teacher;
  </select>

  <insert id="insert">
    insert into school.teacher values (#{id}, #{name}, #{deptId},#{salary})
  </insert>

  <delete id="deleteById">
    delete from school.teacher where id = #{id}
  </delete>

  <update id="update">
    update school.teacher set name=#{name},deptId=#{deptId}, salary=#{salary}
    where id=#{id}
  </update>
</mapper>